{% extends 'base.html' %}

{% block title %}
欢迎光临
{% endblock %}

{% block content %}
<div>
    <br>
    <br>
    <br>
    <br>
    <p>
        <br>
    </p>
</div>
<div class="welcome-content">
    <h1>欢迎光临</h1>
    <p>山光拂槛水绕廊，舞雩归咏春风香。<br>好鸟枝头亦朋友，落花水面皆文章。<br>蹉跎莫遣韶光老，人生唯有读书好。<br>读书之乐乐何如，绿满窗前草不除。</p>
</div>
<div class="quote">
    <p>《四时读书乐·春》————元·翁森<br>
        <br>
        <br>
    <a href="/chat" class="welcome-message" style="display: inline-block; padding: 10px 20px; background-color: #13132A; color: white; border-radius: 5px; text-decoration: none; transition: background-color 0.3s ease;">点击此处登录后,快速开启古诗词讨论对话</a>
    </p>
</div>
{% endblock %}
