{% extends 'base.html' %}

{% block title %}
欢迎光临
{% endblock %}

{% block content %}
<div class="welcome-content">
    <h1>欢迎光临</h1>
    <p>青青河边草，郁郁园中柳。<br>盈盈楼上女，皎皎当窗牖。<br>娥娥红粉妆，纤纤出素手。<br>昔为倡家女，今为荡子妇。</p>
</div>
<div class="quote">
    <p>“登鹳雀楼” —— 王之涣<br>
    <a href="/chat" class="welcome-message" style="display: inline-block; padding: 10px 20px; background-color: #13132A; color: white; border-radius: 5px; text-decoration: none; transition: background-color 0.3s ease;">点击此处登录后,快速开启古诗词讨论对话</a>
    </p>
</div>
{% endblock %}
